.DS_Store
*.log

# IDE settings (e.g. JetBrains/PyCharm)
.idea/

# Google API credentials
agent/client_secret_*.json

# Ignore raw dataset files (DVC will handle them)
data/dataset/Legal Document Retrieval Readme.txt
data/dataset/Legal Document Retrieval Test.csv
data/dataset/Legal Document Retrieval Train.csv

.env                         

__pycache__/           


.logs